<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../static/css/main.css">
    
    <title>Subreddit</title>
  </head>
  <body class="is-preload">
    <nav id="nav">
      <ul class="container">
        <li><a href="https://johanaluna.com">Portfolio</a></li>
        <li><a href="#contact">Subreddit Documentation</a></li>
        <!-- <li><a href="documents/Resume2-2.pdf" > RESUME</a></li> -->
      </ul>
    </nav>
    <article id="top" class="wrapper style1">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </article>
   
  </body>
</html>